body {
  background-image: linear-gradient(rgba(0, 255, 8, 0.116), #ffea001e), url("./imagen/fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(1, 4, 3, 0.9);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  text-align: center;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

input[type="password"],
input[type="text"] {
  padding: 10px 90px 10px 10px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  width: 250px;
}

button {
  position: absolute;
  right: 10px;
  background: #444;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
}

button:hover {
  background: #666;
}
